@import '../../varibales';

.root {
  min-height: 100vh;
  background: linear-gradient(180deg, $third 0%, $primary 100%);

  .contentWrap {
    display: flex;
    justify-content: center;
    align-items: center;

    .contentText {
      .heading {
        font-family: 'Karla';
        font-style: normal;
        font-weight: normal;
        font-size: 72px;
        line-height: 84px;
        letter-spacing: 4px;
        color: #000000;

        b {
          font-weight: bold;
        }
      }

      p {
        font-family: Karla;
        font-style: normal;
        font-weight: normal;
        font-size: 32px;
        line-height: 37px;
        color: #000000;
      }
    }
  }
}
